.catalog-container {
    width: 1500px;
    height: 2000px;
    display: flex;
    flex-flow: column wrap;

}

.gifts {
    width: 250px;
    height: 250px;
    padding: 50px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    background-color: #F5F4F4;
    border: 4px dashed #FF6666;
    box-shadow: 2px 2px 7px 1px #000000;
    border-radius: 30px;
    text-align-last: left;
}

.sidebar-container {
    margin-top: 50px;
}

.gifts-container {
    padding: 100px;
}