.gift-card {

}

.gift-image {
    align-self: center;
    width: 100px;
    height: fit-content;
    border: 4px dashed #FF6666;
    border-radius: 4px;
}

.gift-title {
    
}

.gift-price {
    
}

.gift-category {
    
}